body {
    font-family: 'Montserrat', sans-serif;
}

body span {
    color: #00b3da
}

.bg-dark {
    background: transparent !important;
    transition: 0.3s
}

.bg-dark.scrolled {
    background: #2e4858 !important;
    box-shadow: 0 2px 15px #212529;
    transition: 0.3s;
    border-radius: 0
}

.navbar-expand-md {
    background: #2e4858
}

.lulu {
    border: 0
}

.nav-link:hover {
    color: #0098ba !important;
    font-weight: 400;
    transition: 0.1s ease-in-out
}

.nav-link {
    font-size: 18px !important;
}

/* Mở đầu trang 1 */

.page1 {
    background: url('../img/about.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center
}

.page1 h1 {
    font-size: 46px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.087;
    text-align: center;
    letter-spacing: 5px
}

/* Kết thúc trang 1 */

/* Mở đầu trang 2 */

.page2 {
    background: #e7f1f8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center
}

.page2 h2 {
    margin: 36px 0;
    font-size: 45px;
    color: rgb(46, 72, 88);
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.page2 p {
    font-size: 20px;
    color: rgb(46, 72, 88);
    line-height: 1.4;
    text-align: center;
    letter-spacing: 2.5px;
    width: 51%;
    margin: 0 auto
}

/* Kết thúc trang 2 */

.page3 {
    background: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 156px 0;
}

.page3 .who h2 {
    font-size: 40px;
    color: rgb(46, 72, 88);
    font-weight: 700;
    line-height: 1.2;
    text-align: justify;
    position: relative;
}

.page3 .who h2:before {
    content: '';
    position: absolute;
    background-color: rgb(0, 179, 218);
    left: 72px;
    width: 142px;
    height: 3px;
    bottom: -30px;
    display: block;
    transform: translateX(-50%);
}

.page3 .who p {
    max-width: 450px;
    font-size: 20px;
    color: rgba(46, 72, 88, 0.801);
    line-height: 1.2;
    text-align: justify;
    margin-top: 68px
}

.page3 .goal {
    margin-top: 113px;
    position: relative;
}

.page3 .goal h2 {
    font-size: 40px;
    color: rgb(46, 72, 88);
    font-weight: 700;
    line-height: 1.2;
    text-align: right;
    position: relative;
}

.page3 .goal h2:before {
    content: '';
    position: absolute;
    background-color: rgb(0, 179, 218);
    right: -70px;
    width: 142px;
    height: 3px;
    bottom: -30px;
    display: block;
    transform: translateX(-50%);
}

.page3 .goal p {
    max-width: 450px;
    font-size: 20px;
    color: rgba(46, 72, 88, 0.801);
    line-height: 1.2;
    text-align: justify;
    text-align-last: right;
    -moz-text-align-last: right;
    float: right;
    margin-top: 68px
}

.page4 {
    background: #2e4858;
    min-height: 100vh;
    padding: 156px 0;
    display: flex;
    align-items: center;
    text-align: center
}

.page4 .process h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 0.6;
    text-align: center;
}

.page4 .process p {
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin: 50px 0
}

.page4 .table {
    margin: 0 auto
}

.page4 .table .table1,
.page4 .table .table3 {
    padding: 2rem 1rem 3rem 1rem;
    background: #fff;
}

.page4 .table .table2 {
    padding: 2rem 1rem 3rem 1rem;
    background: #e7f1f8;
}

.page4 .table .table1 h5,
.page4 .table .table2 h5,
.page4 .table .table3 h5 {
    font-size: 20px;
    color: rgb(46, 72, 88);
    line-height: 1.2;
    text-align: center;
    font-weight: 600
}

.page4 .table .table1 p,
.page4 .table .table2 p,
.page4 .table .table3 p {
    color: rgba(46, 72, 88, 0.801);
}

.page5 {
    background: url('../img/our_services.png') no-repeat center center;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 338px
}

.page5 .sentence, .page2_3 .sentence {
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}

.page5 .btn a, .page2_3 .btn a {
    border: 2px solid rgba(255, 255, 255, 0.53);
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.63);
    padding: 15px 57px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;

}

.page5 .btn a:hover, .page2_3 .btn a:hover {
    border: 2px solid #0098ba;
    color: #0098ba;
    text-decoration: none;
    transition: 0.1s ease-in-out
}

.end {
    background: #2e4858;
}

.end .nav li {
    padding: 0 2rem
}

.end a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.246;
}

.end a:hover {
    color: #0098ba;
    text-decoration: none;
    transition: 0.1s ease-in-out
}


/* SERVICES */

.page1_2 {
    background: url('../img/services.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 120px 0
}

.page1_2 .service h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 0.6;
    text-align: center;
}

.page1_2 .service p {
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 2px;
    max-width: 63%;
    margin-left: auto;
    margin-right: auto
}

.page1_2 .menu1,
.page1_2 .menu2,
.page1_2 .menu3,
.page1_2 .menu4 {
    padding: 2rem 1rem 3rem 1rem;
    margin: 0 1rem;
    background: #fff;
    border-radius: 10px;
}

.page1_2 .service_menu h5{
    font-size: 20px;
    color: rgb(46, 72, 88);
    line-height: 1.2;
    text-align: center;
    font-weight: 600
}

.page1_2 .service_menu p {
    color: rgba(46, 72, 88, 0.801);
    text-align: center;
}



.page2_2 {
    background: #2e4858;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.page2_2 .go_pro h2 {
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
}

.page2_2 .go_pro p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.502);
        letter-spacing: 4px
}

.page2_2 .linka {
background: #00b3da;
padding: 1rem 5rem;
border: 0;
box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.404) inset;
color: white;
border-radius: 10px;
letter-spacing: 1px;
font-size: 18px
}

.page2_2 .linka:hover {
    background: #0098ba;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.404) inset;
    color: white;
    transition: 0.1s ease-in-out
}

.page2_2 .linka:active:focus {
    background: #00b3da;
    color: white;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#00b3da' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#00b3da' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.page2_4 img {
    filter: grayscale(100%);
    opacity: .5;
    transition: 0.1s ease-in-out
}

.page2_4 img:hover {
    filter: grayscale(0);
    transition: 0.1s ease-in-out;
    opacity: 1;
}

.page2_3 {
    background: url('../img/our_work.png') no-repeat center center;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 338px
}


footer a{
  text-decoration: none;
  color: #00b3da
}

footer .box-part{
    border-radius:0;
    padding:20px 10px;
    margin: 0 auto
}

footer .fa{
     color:#fff;
}
